@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
};

/* 泡泡对话框小尾巴 */
.bubble-box {
  position: relative;
};

.bubble-tail {
  content: "";
  position: absolute;
  bottom: -0.3vw;
  left: 1.2vw;
  width: 0.6vw;
  height: 0.6vw;
  background: white;
  border-left: 0.1vw solid rgba(92, 58, 33, 0.4);
  border-bottom: 0.1vw solid rgba(92, 58, 33, 0.4);
  transform: rotate(-45deg);
};